In [1]:
import os
import pandas as pd
pd.options.display.float_format = '{:,.3f}'.format


cwd = os.getcwd()

In [2]:
altCoin = ['solana','ripple','dogecoin','avalanche-2','shiba-inu']
cryptoDaily = pd.DataFrame(columns=['date'])
# Timeframe
bitcoin_data = pd.read_csv(cwd + "/cryptodailyprice/bitcoin.csv")
cryptoDaily['date'] = pd.to_datetime(bitcoin_data['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')
for coin in altCoin:
    file_name = "/cryptodailyprice/" + coin + ".csv"
    file_path = cwd + file_name
    if os.path.isfile(file_path):
        coin_data = pd.read_csv(file_path)
        coin_data['date'] = pd.to_datetime(coin_data['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')
        coin_data[coin] = coin_data['total_volume']
        cryptoDaily = pd.merge(cryptoDaily, coin_data[['date', coin]], how = 'left', on = ['date'])
        cryptoDaily.fillna(0, inplace=True)
cryptoDaily

,date,solana,ripple,dogecoin,avalanche-2,shiba-inu
0,2015-01-01T00:00:00,0.000,"433,245.000","283,845.501",0.000,0.000
1,2015-01-02T00:00:00,0.000,"447,891.000","363,741.739",0.000,0.000
2,2015-01-03T00:00:00,0.000,"2,145,220.000","270,052.236",0.000,0.000
3,2015-01-04T00:00:00,0.000,"3,773,380.000","353,697.860",0.000,0.000
4,2015-01-05T00:00:00,0.000,"3,062,830.000","554,935.736",0.000,0.000
...,...,...,...,...,...,...
3368,2024-03-23T00:00:00,"4,530,693,846.294","1,995,119,918.336","2,940,854,621.555","1,389,533,409.432","1,110,651,465.060"
3369,2024-03-24T00:00:00,"2,950,137,170.127","1,086,083,071.552","3,048,334,938.410","747,609,050.941","1,015,012,966.604"
3370,2024-03-25T00:00:00,"2,903,673,332.796","1,195,280,193.029","3,003,671,909.598","601,434,789.076","906,465,055.308"
3371,2024-03-26T00:00:00,"4,384,505,429.330","2,070,728,050.052","2,788,813,810.631","1,115,855,035.507","1,592,197,511.203"
3372,2024-03-27T00:00:00,"4,010,909,565.845","1,759,776,337.901","3,062,788,086.901","942,767,271.580","1,647,980,498.573"

In [3]:
cryptoDaily.to_csv(cwd + "/watchList.csv", index=False)

In [4]:
# Set index for resample
cryptoDaily['date'] = pd.to_datetime(cryptoDaily['date'])
cryptoDaily.set_index('date', inplace=True)

cryptoMonthly = cryptoDaily.resample('M').sum()
cryptoMonthly.reset_index(inplace=True)
cryptoMonthly['date'] = pd.to_datetime(cryptoMonthly['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

cryptoYearly = cryptoDaily.resample('Y').sum()
cryptoYearly.reset_index(inplace=True)
cryptoYearly['date'] = pd.to_datetime(cryptoYearly['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

cryptoDaily.reset_index(inplace=True)
cryptoDaily['date'] = pd.to_datetime(cryptoDaily['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

In [5]:
cryptoMonthly.to_csv(cwd + "/watchListMonthly.csv", index=False)
cryptoYearly.to_csv(cwd + "/watchListYearly.csv", index=False)