In [2]:
import os
import pandas as pd
pd.options.display.float_format = '{:,.3f}'.format


cwd = os.getcwd()

In [3]:
altCoin = ['ethereum','binancecoin','solana','ripple','dogecoin']
cryptoDaily = pd.DataFrame(columns=['date'])
# Timeframe
bitcoin_data = pd.read_csv(cwd + "/cryptodailyprice/bitcoin.csv")
cryptoDaily['date'] = pd.to_datetime(bitcoin_data['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')
for coin in altCoin:
    file_name = "/cryptodailyprice/" + coin + ".csv"
    file_path = cwd + file_name
    if os.path.isfile(file_path):
        coin_data = pd.read_csv(file_path)
        coin_data['date'] = pd.to_datetime(coin_data['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')
        coin_data[coin] = coin_data['total_volume']
        cryptoDaily = pd.merge(cryptoDaily, coin_data[['date', coin]], how = 'left', on = ['date'])
        cryptoDaily.fillna(0, inplace=True)
cryptoDaily

,date,ethereum,binancecoin,solana,ripple,dogecoin
0,2015-01-01T00:00:00,0.000,0.000,0.000,"433,245.000","283,845.501"
1,2015-01-02T00:00:00,0.000,0.000,0.000,"447,891.000","363,741.739"
2,2015-01-03T00:00:00,0.000,0.000,0.000,"2,145,220.000","270,052.236"
3,2015-01-04T00:00:00,0.000,0.000,0.000,"3,773,380.000","353,697.860"
4,2015-01-05T00:00:00,0.000,0.000,0.000,"3,062,830.000","554,935.736"
...,...,...,...,...,...,...
3368,2024-03-23T00:00:00,"22,143,063,329.603","3,124,492,965.377","4,530,693,846.294","1,995,119,918.336","2,940,854,621.555"
3369,2024-03-24T00:00:00,"13,554,704,159.635","1,672,186,083.521","2,950,137,170.127","1,086,083,071.552","3,048,334,938.410"
3370,2024-03-25T00:00:00,"12,747,604,656.723","1,327,630,622.012","2,903,673,332.796","1,195,280,193.029","3,003,671,909.598"
3371,2024-03-26T00:00:00,"19,900,586,068.611","2,019,031,737.032","4,384,505,429.330","2,070,728,050.052","2,788,813,810.631"
3372,2024-03-27T00:00:00,"20,094,722,140.101","1,693,306,626.775","4,010,909,565.845","1,759,776,337.901","3,062,788,086.901"

In [4]:
cryptoDaily.to_csv(cwd + "/watchList.csv", index=False)

In [5]:
# Set index for resample
cryptoDaily['date'] = pd.to_datetime(cryptoDaily['date'])
cryptoDaily.set_index('date', inplace=True)

cryptoMonthly = cryptoDaily.resample('M').sum()
cryptoMonthly.reset_index(inplace=True)
cryptoMonthly['date'] = pd.to_datetime(cryptoMonthly['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

cryptoYearly = cryptoDaily.resample('Y').sum()
cryptoYearly.reset_index(inplace=True)
cryptoYearly['date'] = pd.to_datetime(cryptoYearly['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

cryptoDaily.reset_index(inplace=True)
cryptoDaily['date'] = pd.to_datetime(cryptoDaily['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

In [6]:
cryptoMonthly.to_csv(cwd + "/watchListMonthly.csv", index=False)
cryptoYearly.to_csv(cwd + "/watchListYearly.csv", index=False)

In [7]:
altCoin = ['ethereum','binancecoin','solana','ripple','dogecoin']
binanceIndex = ['bitcoin', 'ethereum', 'binancecoin', 'solana', 'ripple', 'cardano','avalanche-2','polkadot','chainlink', 'tron', 'dogecoin']
binanceIMC = pd.DataFrame(columns=['date'])
binanceIMC['date'] = pd.to_datetime(bitcoin_data['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')

for coin in binanceIndex:
    file_name = "/cryptodailyprice/" + coin + ".csv"
    file_path = cwd + file_name
    if os.path.isfile(file_path):
        coin_data = pd.read_csv(file_path)
        coin_data['date'] = pd.to_datetime(coin_data['date'], format='mixed').dt.strftime('%Y-%m-%dT%H:%M:%S')
        coin_data[coin] = coin_data['market_cap']
        binanceIMC = pd.merge(binanceIMC, coin_data[['date', coin]], how = 'left', on = ['date'])
        binanceIMC.fillna(0, inplace=True)

In [8]:
binanceIMC.to_csv(cwd + "/binanceIMC.csv", index=False)

In [9]:
lastestIMC = binanceIMC.tail(1)
sumStat = {}

for c in binanceIndex:
    sumStat[c] = lastestIMC[c].values[0]

sumStat

{'bitcoin': 1375728580463.2524,
 'ethereum': 430639202176.3594,
 'binancecoin': 89155437215.42749,
 'solana': 84838706571.2534,
 'ripple': 34676270602.72719,
 'cardano': 23425863356.52765,
 'avalanche-2': 21077240258.155663,
 'polkadot': 13028996507.219675,
 'chainlink': 11739367402.991226,
 'tron': 10591107950.99413,
 'dogecoin': 26140142029.04529}