In [102]:
import os
import pandas as pd
pd.options.display.float_format = '{:,.3f}'.format


cwd = os.getcwd()

In [104]:
altCoin = ['bitcoin','ethereum','tether', 'binance-usd','solana','usd-coin','ripple','dogecoin', 'cardano','avalance','shiba-inu']
cryptoDaily = pd.DataFrame(columns=['date'])
# Timeframe
bitcoin_data = pd.read_csv(cwd + "/cryptodailyprice/bitcoin.csv")
cryptoDaily['date'] = pd.to_datetime(bitcoin_data['date'], format='mixed').dt.strftime('%Y-%m-%d')
for coin in altCoin:
    file_name = "/cryptodailyprice/" + coin + ".csv"
    file_path = cwd + file_name
    if os.path.isfile(file_path):
        coin_data = pd.read_csv(file_path)
        coin_data['date'] = pd.to_datetime(coin_data['date'], format='mixed').dt.strftime('%Y-%m-%d')
        coin_data[coin] = coin_data['total_volume']
        cryptoDaily = pd.merge(cryptoDaily, coin_data[['date', coin]], how = 'left', on = ['date'])
        cryptoDaily.fillna(0, inplace=True)
cryptoDaily

,date,bitcoin,ethereum,tether,binance-usd,solana,usd-coin,ripple,dogecoin,cardano,shiba-inu
0,2015-01-01,"46,999,364.089",0.000,0.000,0.000,0.000,0.000,"433,245.000","283,845.501",0.000,0.000
1,2015-01-02,"38,855,906.301",0.000,0.000,0.000,0.000,0.000,"447,891.000","363,741.739",0.000,0.000
2,2015-01-03,"118,778,941.409",0.000,0.000,0.000,0.000,0.000,"2,145,220.000","270,052.236",0.000,0.000
3,2015-01-04,"205,500,148.970",0.000,0.000,0.000,0.000,0.000,"3,773,380.000","353,697.860",0.000,0.000
4,2015-01-05,"155,038,125.456",0.000,0.000,0.000,0.000,0.000,"3,062,830.000","554,935.736",0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...
3368,2024-03-23,"42,436,600,223.537","22,143,063,329.603","72,933,877,566.326","11,776,214.293","4,530,693,846.294","9,566,842,109.076","1,995,119,918.336","2,940,854,621.555","575,808,688.702","1,110,651,465.060"
3369,2024-03-24,"25,489,933,245.688","13,554,704,159.635","46,429,472,884.937","9,868,387.319","2,950,137,170.127","4,645,743,366.366","1,086,083,071.552","3,048,334,938.410","381,206,401.795","1,015,012,966.604"
3370,2024-03-25,"28,098,318,940.432","12,747,604,656.723","46,585,435,822.011","11,733,013.034","2,903,673,332.796","5,149,486,512.160","1,195,280,193.029","3,003,671,909.598","400,457,710.561","906,465,055.308"
3371,2024-03-26,"44,820,310,272.648","19,900,586,068.611","73,628,466,066.039","16,440,604.816","4,384,505,429.330","8,311,288,744.232","2,070,728,050.052","2,788,813,810.631","578,742,871.376","1,592,197,511.203"
3372,2024-03-27,"36,257,324,508.568","20,094,722,140.101","32,023,144,155.412","16,873,163.775","4,010,909,565.845","8,587,868,347.693","1,759,776,337.901","3,062,788,086.901","607,663,811.765","1,647,980,498.573"

In [105]:
cryptoDaily.to_csv(cwd + "/watchList.csv", index=False)